<section class="adsense">
    <div id="adsense"></div>
        <script type="text/javascript">
            atOptions = {
                'key' : '6bf186c7722b812857e07024eea95162',
                'format' : 'iframe',
                'height' : 60,
                'width' : 468,
                'params' : {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/6bf186c7722b812857e07024eea95162/invoke.js"></scr' + 'ipt>');
        </script>
</section>
